absl-py
astunparse==1.6.3
blinker
certifi==2024.6.2
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
namex
numpy
opt-einsum
optree
packaging
pillow
protobuf
Pygments
requests
rich
six
tensorboard
tensorflow
termcolor
typing_extensions
urllib3
Werkzeug
wheel
wrapt
